.linegroup{
	overflow:hidden;
	margin-bottom:1%;
}

.linegroup-lowest{
	margin-bottom:2%;
}

.box{
	white-space:nowrap;
}

.box div{
	display:inline-block;
}

.addButton{
	width:20%;
}

.userPar{
	display:inline;
}

.usernameSel{
	width:20%;
}

.dateInp{
	width:90%;
}

.globalSearch{
	width:80%;
	border-radius:10px;
}

.showedRows{
	width:100%;
}

.theadMaintable{
	background-color:gray;
}

.leafTable{
	margin-top:1%;
	margin-left:90.32%;
}

.leafTableItem{
	border:2px solid black; 
	box-shadow: 3px 3px 5px black;
}

.advertForm{
	display:none;
	border:4px solid black;
}

.linegroupBox{
	margin-left:6%;
	margin-top:1%;
}

.param{
	width:10%;
}

.hint{
	opacity:0.5;
	margin-left:1%;
}

.form-btn-container{
	width:20%;
}

.btn-delete{
	background-color:red;
	color:white;
	box-shadow:3px 0px 5px black;
}


